<div class="adventisment">
  <span class="info"><img border="0"
      src="https://lh5.googleusercontent.com/-aqtz0ba7YSA/V-Dm0DjyaKI/AAAAAAAAD5c/-fp-vJL-smwTC1kxq7_gXJ1-a82Dm95SACK4B/s400/icon.PNG"></span>
  <div class='st-ads'>
    <a target="_blank" href="http://ouo.io/ref/KPnlI4WF">
      <div
        style="background-image: url(https://2.bp.blogspot.com/-pNMS8P8waOo/V-EZyoOw09I/AAAAAAAAD5s/JRMp6pnQaAoYsGWbIrKInOJ9sQLCE7M5gCK4B/s1600/banner-ouo-io.png);width: 300px;height: 600px;">
      </div>
    </a></div>
</div>
