<div id="ads">
  <div id="banner">
    <img src="http://i621.photobucket.com/albums/tt295/mahsin/baby%20toys/creative.jpg" class="baby">
    <img src="http://i621.photobucket.com/albums/tt295/mahsin/baby%20toys/60per.png" class="offer1">
    <img src="http://i621.photobucket.com/albums/tt295/mahsin/baby%20toys/offer2.png" class="offer2">
    <img src="http://i621.photobucket.com/albums/tt295/mahsin/baby%20toys/toy.png" class="toy">
    <img src="http://i621.photobucket.com/albums/tt295/mahsin/baby%20toys/text1.png" class="text1">
    <img src="http://i621.photobucket.com/albums/tt295/mahsin/baby%20toys/text2.png" class="text2">
    <img src="http://i621.photobucket.com/albums/tt295/mahsin/baby%20toys/cta.png" class="cta">
    <img src="http://i621.photobucket.com/albums/tt295/mahsin/baby%20toys/logo.png" class="logo">
    <img src="http://i621.photobucket.com/albums/tt295/mahsin/baby%20toys/bottom-bg.png" class="bottom-bg">
  </div>
</div>
