<div class="floating-chat">
  <i class="fa fa-comments" aria-hidden="true" style="font-size: 30px;"></i>
  <div class="chat">
    <div class="header">
      <span class="title">
        Spades Game
      </span>
      <button>
        <i class="fa fa-times" aria-hidden="true"></i>
      </button>

    </div>
    <ul class="messages">
    </ul>
    <div class="footer">
      <app-document></app-document>
      <button id="sendMessage"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
    </div>
  </div>
</div>
