<footer>
  <div class="jss2" style="background-color: rgb(238, 238, 238); color: rgb(68, 68, 68);margin-top: auto;">
    <div class="jss1">
      <div class="MuiContainer-root about MuiContainer-maxWidthSm">
        <h5 class="MuiTypography-root MuiTypography-h5 patron_text">
          This is a solo-creative project stemming from the shelter-in-place directives. Would love any feedback or
          suggestions. If you feel like helping to support the infrastructure costs, I would greatly appreciate any
          donations. Please enjoy!
        </h5>
        <hr>
        <div class="row height-adjust">
            <div class="col-md-4">
              <div class="sendfeedback hover">&nbsp;&nbsp;send feedback</div>
            </div>
            <div class="col-md-4">
              <div class="Partron hover">Become to patron</div>
            </div>
            <div class="col-md-4 last">
              <div class="spade hover">&nbsp;&nbsp;Twitter#Space</div>
            </div>
        </div>
      </div>
    </div>
  </div>
</footer>
